.header{
  background-color: #606772;
  color: white;
  width: 100vw;
  min-height: 20vh;
  max-height: 40vh;
  position: relative;
  top: -16px;
}
.header img{
  width: 5vw;
  padding: 12px;
  display: none;
}

#main{
  padding-top: 50px;
  min-height: 50vh;

}
.mainpageinfo{
  padding: 10px 50px 10px 50px;
}

body{
  background-color:#FFFFFF;
  position: relative;
}

li{
	text-decoration: none;
  font-family: 'Montserrat', sans-serif;
	color: black;
  font-size: 12pt;
  text-align:center;
}

h1{
  font-size: 30pt;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  line-height: 40pt;
  text-align: center;
  padding: 10px;
}

h2{
  font-size: 30pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  line-height: 35pt;
  text-transform: uppercase;
}

h3{
  font-size: 15pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 20pt;
}
h4{
  font-size:12pt;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 300;
  line-height: 14pt;
}

p{
  display: block;
  text-align: center;
  font-size: 14pt;
  font-family: helvetica;
  line-height: 16pt;
  background: white;
}

a.skip{
	padding:5px;
	text-decoration: none;
  font-family: helvetica;
	position: relative;
    top: -90px;
    transition: top ease-in 0.5s;
}

a.skip:focus{
	background: white;
	top: 200px;
}

iframe{
  height: 400px;
  width: 90vw;
  padding: 5px;
}

.resumepdf{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.resumepdf iframe{
  height: 70vh;
  width: 90vw;
  padding: 10px;
}

.footer{
  background-color: #606772;
  color: white;
  position: relative;
  bottom: -40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 20vh;
  max-height: 30vh;
}
.footunit:hover{
	text-decoration: underline;
}

.footunit i{
  display: inline-block;
  padding: 5px;
  margin: auto;
}
.footunit a{
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.profileblock img{
	width: 300px;
}
.profileblock{
  width: 300px;
  padding: 10px;
}
.profileblock p{
  text-align: justify;
  line-height: 20pt;
  padding: 10px;

}

.profile{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  padding: 10px;
}


.allprojects{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.projectsection{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.projectsection img{
  width: 90vw;
  padding: 10px;
}
.current{
  text-transform: uppercase;
  font-style: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.navigation{
  background-color:#606772;
  width: 100vw;
  top: 0px;
  z-index: 1;
}

#navbar {
  overflow: hidden;
}

.navigation a:not(.current){
  display: none;}

.navigation a:not(.current).icon{
  float: right;
  display: inline-block;

}

.navigation a:hover{
  cursor: pointer;
  text-decoration: underline;
  color: black;
  background-color: #ddd;
}

.navigation a {
  position:relative;
  display: inline-block;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20pt;
  color: white;
}

.navigation.responsive {
  position: relative;
  background-color: #606772;
}
.navigation.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navigation.responsive a {
    display: block;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.accordion {
  background-color: #eee;
  color: black;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #606060;
  color: white;
}

.panel {
  padding: 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.infoform{
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: space-around;
  margin: 20px;
  padding: 50px;
}

form{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;

}

label{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 14pt;
  padding-top: 20px;
  display: inline-block;
}

input[type=text], input[type=email], input[type=tel], select, textarea{
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  padding: 10px;
}

input[type=submit]{
  cursor: pointer;
  padding:10px;
  border-radius: 4px;
}

#message{
  width: 50vw;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: white;
  resize: none;
}

input:focus{
  background-color: #e6f3f7;
}

.errorMsg {
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  text-align: left;
  padding: 2px;
  color:red;
  display:none;
}

.mainpageimages{
  position:relative;
  float: clear;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.flipcard{
  position:relative;
  margin: 30px;
  background-color: white;
  width: 250px;
  height: 250px;
}

.flipcard h2{
  padding: 20px;
}

.flipcard img{
  width: 250px;
}

.flipinner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipcard:hover .flipinner{
  transform: rotateY(180deg);
}

.flipfront, .flipback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipfront{
  background-color: white;
  color: black;
  z-index: 3;
}

.flipback{
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  z-index: 2;
}
.flipback a{
  font-family: 'Montserrat', sans-serif;
}

@media (prefers-reduced-motion: reduce){
	.animation:hover{
		-webkit-animation-name: none;
	}
}

@media only screen and (min-width:800px){
  .header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .header img{
    width: 12vw;
    display: block;
  }

  .mainpageimages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

	.projectsection img{
		width: 90%;
  }

  .projectsection{
    padding: 50px;
  }

  .allprojects{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1 / span 1;

  }
  .allprojects iframe{
    width: 90%;
    padding: 10px;
  }
  .resumepdf iframe{
    height: 100vh;

  }
  .navigation{
    display: flex;
    flex-direction: row;
    wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .navigation a:not(.current){
    display: block;
  }
  .navigation a:not(.current).icon{
    display: none;
  }



}

@media only screen and (min-width:1200px){
  .header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .header img{
    width: 12vw;
    display: block;
  }
  .projectsection{
    padding: 90px;
  }
	.projectsection img{
		width: 90%;
  }
  .allprojects{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column: 1 / span 2;
    align-items: start;
    justify-content: space-evenly;

  }
  .allprojects iframe{
    width: 90%;
    padding: 10px;
  }
  .resumepdf iframe{
    height: 100vh;
  }

  .navigation a:not(.current){
    display: block;
  }
  .navigation a:not(.current).icon{
    display: none;
  }
  .navigation .icon {
    display: none;
  }

}
